.img-cirle {
    max-height: 50px;
}

.delete-button {
    background-color: #e95420;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    opacity: 0.8;
}

.delete-button i {
    color: whitesmoke;
}

.delete-button:hover {
    opacity: 1;
}
